
body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    display: flex;
}

@import url("http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");
#fileselector {
    margin: 10px;
}

#upload-file-selector {
    display: none;
}

.margin-correction {
    margin-right: 10px;
}